{% load static %}

<html>

<head>
  <title> SMARTR </title>
  <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>

<body>
  <h1> SMARTR </h1>
  <h3> One to one lessons online </h3>
  <div class="data">
    <div class="learner">
      <h3> Parent </h3>
      <a href="signup/learners">Sign Up</a> </br>
      <a href="login/">Login</a>
    </div>
    <div class="student">
      <h3> Student </h3>
      <a href="signup/tutors">Sign Up</a> </br>
      <a href="login/">Login</a>
    </div>
  </div>
</body>
</html>
