<!-- Users are directed to this page after clicking the 'SignUp' link in index.html.
    Depending on the signup link, a user_group is passed to this template's context and passed as
    part of the form's POST process to assign the user's group; 'learners' or 'tutors' -->
<html>

{# The header of the website will refer to the user based on the group passed in the context #}
{% if user_group == "learners" %}
<h1> User SignUp </h1>
{% elif user_group == "tutors" %}
<h1> Tutor SignUp </h1>
{% endif %}

<form method="POST">
{% csrf_token %}
{% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </p>
{% endfor %}

<button type="submit"> Sign Up </button>
</form>
<h2><a href="{% url 'index' %}">HOME</a></h2>

</html>
