* {
  font-family: sans-serif;
}

h1, h3 {
    color: darkblue;
    text-align: center;
}

.data {
  display: flex;
  margin: 20px;
  padding: 50px;
  border: 1px solid lightblue;
  justify-content: space-around;
  text-align: center;
}
