<!-- The default login template -->
{% extends 'base.html' %}

{% block content %}
<p> Welcome, Please log in. </p>

<form method="POST" action="{% url 'prof_page' %}">
{% csrf_token %}
{{ form.as_p }}
<input type='hidden' name='next' value="profiles/index.html">
<button type="Submit"> Get in the game fool </button>
</form>
<a href="signout"> Sign Out </a>
{% endblock %}
